@import 'variables';

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.1em;
  background-color: $backgroundDark;
  color: $textLight;
}
.yourname {
  width: 250px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 8px;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
}
.cssPropery {
  color: $textCSSProperty;
}
.cssSelector {
  color: $textCSSSelector;
}
.cssValue {
  color: $textCSSValue;
}
input {
  border: none;
  border-radius: 5px;
  color: $textInput;
  outline: none;
  text-align: center;
  background: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  margin: 3px;
}
.long {
  width: 400px;
}
.short {
  width: 120px;
}
section {
  padding: 5px;
}
code,
.code {
  font-size: 1.3em;
  background-color: $darkHighlight;
  padding: 3px;
  border-radius: 5px;
  color: $textHighlight;
}
.highlight {
  color: $textHighlight;
  padding: 0px 5px;
}
.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.9em;
  column-gap: 10px;
}
.tall {
  height: 120px;
}
main {
  margin: auto;
  margin-top: 10px;
  max-width: 900px;
  padding: 10px 40px 20px 40px;
  border: 2px solid;
  form {
    .fillinblank {
      ol {
        padding-left: 20px;
        li {
          padding: 8px;
        }
      }
    }
  }
  .multipleChoice {
    .multipleChoiceOptions {
      margin: auto;
      padding: 8px 0 8px 50px;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 8px;
        row-gap: 8px;
        li {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20px;
          display: inline-block;
          text-align: center;
          p {
            display: inline-block;
            padding: 1px 6px;
          }
        }
      }
    }

    .multipleChoiceQuestions {
      padding-left: 20px;
      li {
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        div {
          display: grid;
          grid-template-columns: 5fr 2fr;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 205px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            transform: translateY(5px);
          }
        }
      }
    }
  }
  .questions {
    div {
      padding-left: 20px;
      p {
        padding: 10px;
      }
      textarea {
        display: block;
        width: 100%;
        resize: none;
        border: none;
        padding: 10px;
      }
    }
  }
}
