$backgroundDark: #465362;
$backgroundLight: #f4fffd;
$darkHighlight: #0e243f;
$textLight: #f4fffd;
$textDark: #222;
$textHighlight: #f9dc5c;
$textCSSProperty: rgb(128, 217, 251);
$textCSSSelector: rgb(251, 177, 128);
$textCSSValue: rgb(157, 251, 128);

$textInput: rgb(0, 0, 0);
